In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('House Price India.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

**NO NULL CONTENTS**

In [4]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x = df.drop('Price',axis=1)
x.head

<bound method NDFrame.head of                id   Date  number of bedrooms  number of bathrooms  \
0      6762810145  42491                   5                 2.50
1      6762810635  42491                   4                 2.50
2      6762810998  42491                   5                 2.75
3      6762812605  42491                   4                 2.50
4      6762812919  42491                   3                 2.00
...           ...    ...                 ...                  ...
14615  6762830250  42734                   2                 1.50
14616  6762830339  42734                   3                 2.00
14617  6762830618  42734                   2                 1.00
14618  6762830709  42734                   4                 1.00
14619  6762831463  42734                   3                 1.00

       living area  lot area  number of floors  waterfront present  \
0             3650      9050               2.0                   0
1             2920      4000               1.5                   0
2             2910      9480               1.5                   0
3             3310     42998               2.0                   0
4             2710      4500               1.5                   0
...            ...       ...               ...                 ...
14615         1556     20000               1.0                   0
14616         1680      7000               1.5                   0
14617         1070      6120               1.0                   0
14618         1030      6621               1.0                   0
14619          900      4770               1.0                   0

       number of views  condition of the house  ...  Area of the basement  \
0                    4                       5  ...                   280
1                    0                       5  ...                  1010
2                    0                       3  ...                     0
3                    0                       3  ...                     0
4                    0                       4  ...                   830
...                ...                     ...  ...                   ...
14615                0                       4  ...                     0
14616                0                       4  ...                     0
14617                0                       3  ...                     0
14618                0                       4  ...                     0
14619                0                       3  ...                     0

       Built Year  Renovation Year  Postal Code  Lattitude  Longitude  \
0            1921                0       122003    52.8645   -114.557
1            1909                0       122004    52.8878   -114.470
2            1939                0       122004    52.8852   -114.468
3            2001                0       122005    52.9532   -114.321
4            1929                0       122006    52.9047   -114.485
...           ...              ...          ...        ...        ...
14615        1957                0       122066    52.6191   -114.472
14616        1968                0       122072    52.5075   -114.393
14617        1962                0       122056    52.7289   -114.507
14618        1955                0       122042    52.7157   -114.411
14619        1969             2009       122018    52.5338   -114.552

       living_area_renov  lot_area_renov  Number of schools nearby  \
0                   2880            5400                         2
1                   2470            4000                         2
2                   2940            6600                         1
3                   3350           42847                         3
4                   2060            4500                         1
...                  ...             ...                       ...
14615               2250           17286                         3
14616               1540            7480                         3
14617               1130            6120                         2
14618               1420            6631                         3
14619                900            3480                         2

       Distance from the airport
0                             58
1                             51
2                             53
3                             76
4                             51
...                          ...
14615                         76
14616                         59
14617                         64
14618                         54
14619                         55

[14620 rows x 22 columns]>

In [9]:
y=df['Price']
y

0        2380000
1        1400000
2        1200000
3         838000
4         805000
          ...
14615     221700
14616     219200
14617     209000
14618     205000
14619     146000
Name: Price, Length: 14620, dtype: int64

In [10]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=12)

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

**MODEL WITH 2 HIDDEN LAYERS**

In [12]:
reg = Sequential()
reg.add(Dense(4,activation='relu'))
reg.add(Dense(12,activation='relu'))
reg.add(Dense(1,activation='linear'))

In [13]:
reg.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [14]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(xtest,ytest))

Epoch 1/25
1170/1170 [==============================] - 3s 2ms/step - loss: 60826662580781056.0000 - mse: 60826662580781056.0000 - val_loss: 175852175360.0000 - val_mse: 175852175360.0000
Epoch 2/25
1170/1170 [==============================] - 2s 2ms/step - loss: 125405257728.0000 - mse: 125405257728.0000 - val_loss: 178238423040.0000 - val_mse: 178238423040.0000
Epoch 3/25
1170/1170 [==============================] - 2s 2ms/step - loss: 126022623232.0000 - mse: 126022623232.0000 - val_loss: 178005786624.0000 - val_mse: 178005786624.0000
Epoch 4/25
1170/1170 [==============================] - 3s 2ms/step - loss: 126597349376.0000 - mse: 126597357568.0000 - val_loss: 180093419520.0000 - val_mse: 180093403136.0000
Epoch 5/25
1170/1170 [==============================] - 2s 2ms/step - loss: 128352452608.0000 - mse: 128352452608.0000 - val_loss: 197686525952.0000 - val_mse: 197686525952.0000
Epoch 6/25
1170/1170 [==============================] - 2s 2ms/step - loss: 131468378112.0000 - mse: 131468378112.0000 - val_loss: 197155536896.0000 - val_mse: 197155553280.0000
Epoch 7/25
1170/1170 [==============================] - 2s 2ms/step - loss: 137447882752.0000 - mse: 137447882752.0000 - val_loss: 187936686080.0000 - val_mse: 187936686080.0000
Epoch 8/25
1170/1170 [==============================] - 2s 2ms/step - loss: 148049608704.0000 - mse: 148049608704.0000 - val_loss: 184416747520.0000 - val_mse: 184416747520.0000
Epoch 9/25
1170/1170 [==============================] - 3s 3ms/step - loss: 176409083904.0000 - mse: 176409083904.0000 - val_loss: 180622213120.0000 - val_mse: 180622213120.0000
Epoch 10/25
1170/1170 [==============================] - 2s 2ms/step - loss: 193086324736.0000 - mse: 193086324736.0000 - val_loss: 175184609280.0000 - val_mse: 175184609280.0000
Epoch 11/25
1170/1170 [==============================] - 2s 2ms/step - loss: 250327793664.0000 - mse: 250327793664.0000 - val_loss: 256284737536.0000 - val_mse: 256284737536.0000
Epoch 12/25
1170/1170 [==============================] - 2s 2ms/step - loss: 352061718528.0000 - mse: 352061718528.0000 - val_loss: 187082670080.0000 - val_mse: 187082670080.0000
Epoch 13/25
1170/1170 [==============================] - 3s 2ms/step - loss: 346678067200.0000 - mse: 346678067200.0000 - val_loss: 218144817152.0000 - val_mse: 218144817152.0000
Epoch 14/25
1170/1170 [==============================] - 3s 2ms/step - loss: 397823410176.0000 - mse: 397823410176.0000 - val_loss: 561025449984.0000 - val_mse: 561025449984.0000
Epoch 15/25
1170/1170 [==============================] - 2s 2ms/step - loss: 396440109056.0000 - mse: 396440109056.0000 - val_loss: 259441541120.0000 - val_mse: 259441541120.0000
Epoch 16/25
1170/1170 [==============================] - 2s 2ms/step - loss: 401867374592.0000 - mse: 401867374592.0000 - val_loss: 290630565888.0000 - val_mse: 290630565888.0000
Epoch 17/25
1170/1170 [==============================] - 2s 2ms/step - loss: 380331851776.0000 - mse: 380331851776.0000 - val_loss: 1295267921920.0000 - val_mse: 1295267921920.0000
Epoch 18/25
1170/1170 [==============================] - 2s 2ms/step - loss: 393973432320.0000 - mse: 393973465088.0000 - val_loss: 204942295040.0000 - val_mse: 204942295040.0000
Epoch 19/25
1170/1170 [==============================] - 3s 3ms/step - loss: 340354990080.0000 - mse: 340354990080.0000 - val_loss: 556899958784.0000 - val_mse: 556899958784.0000
Epoch 20/25
1170/1170 [==============================] - 3s 2ms/step - loss: 1142332194816.0000 - mse: 1142332194816.0000 - val_loss: 179105267712.0000 - val_mse: 179105267712.0000
Epoch 21/25
1170/1170 [==============================] - 2s 2ms/step - loss: 275375357952.0000 - mse: 275375423488.0000 - val_loss: 543489687552.0000 - val_mse: 543489687552.0000
Epoch 22/25
1170/1170 [==============================] - 2s 2ms/step - loss: 366569488384.0000 - mse: 366569488384.0000 - val_loss: 323146383360.0000 - val_mse: 323146383360.0000
Epoch 23/25
1170/1170 [==============================] - 2s 2ms/step - loss: 395867062272.0000 - mse: 395867062272.0000 - val_loss: 486216892416.0000 - val_mse: 486216892416.0000
Epoch 24/25
1170/1170 [==============================] - 3s 2ms/step - loss: 342221455360.0000 - mse: 342221455360.0000 - val_loss: 244810858496.0000 - val_mse: 244810858496.0000
Epoch 25/25
1170/1170 [==============================] - 3s 3ms/step - loss: 395923390464.0000 - mse: 395923390464.0000 - val_loss: 200845737984.0000 - val_mse: 200845737984.0000

**TESTING MODEL**

In [16]:
y_pred=reg.predict(xtest)

92/92 [==============================] - 0s 1ms/step

In [17]:
y_pred

array([[387850.9],
       [387777.9],
       [407162.9],
       ...,
       [388347.9],
       [387719.9],
       [392492.9]], dtype=float32)

**MODEL IS TESTED**